#login_link{
    margin-left:100px;
}
body{
    background-color:white;
}
.jumbotron{
    
    width:40%;
    height:40%;
    
    padding:20px;
    margin:20px;
    
}
.navcolor{
    background-color:#5F5F5F;
}
.registerdiv{
    width: 30%;
    height:30%;
    background-color: #F1F1F1;
    margin:40px 100px 500px 100px;
    position:center;
}
