{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
    <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-5">{{ post.Title }}</h1>
              <p class="lead"> 
                <p>By {{ post.Author }} on {{ post.Date }} </p>
                <p>{{ post.Content }}</p>
            </p>
            </div>
          </div>
    
            
        
    
                
        

    {% endfor %}
{% endblock content %}

    