{% extends "layout.html" %}
{% block content %}
<div class="container registerdiv">
<form method="POST" action="">
    {{ form.hidden_tag() }}
     <!-- for preventing CSRF attacks -->
     <div class="form-group">
            {{ form.username.label(class ="form-control-label")}}
            {{ form.username(class ="form-control form-control-lg")}}
           
          </div>
    <div class="form-group">
            {{ form.email.label(class ="form-control-label")}}
            {{ form.email(class ="form-control form-control-lg")}}
      
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
            {{ form.password.label(class ="form-control-label")}}
            {{ form.password(class ="form-control form-control-lg")}}
    </div>
    <div class="form-group">
            {{ form.confirm_password.label(class ="form-control-label")}}
            {{ form.confirm_password(class ="form-control form-control-lg")}}
    </div>
    {{ form.submit(class="btn btn-primary")}}
    
        <div class="text-muted">
                        <small>Already have an account?<a class="ml-2" href="{{url_for('callLogin')}}">Sign in</a>  </small>
        </div>      
                
                
    
  </form>
</div>

{% endblock content %}