{% extends "layout.html" %}
{% block body %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{url_for('static',filename='img/home-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Bloggy</h1>
            <span class="subheading">A Blog for coders</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  {% for post in posts %}
    
  <li>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
          <a href="/posts_route/{{post.slug}}">
            <h2 class="post-title">
                {{post.title}}
              
            </h2>
            <h3 class="post-subtitle">
              {{post.subtitle}}
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">Admin</a>
            on {{post.date}}</p>
        </div>
        {{post.content[:25]}}...
        <hr>
      </li>
        {% endfor %}
        
        
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" style="margin:10px" href="#">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>

 {% endblock %}

  